html, body{
	width: 100%;
	margin: 0 auto;
	padding:0;
	height: 100%;
}

body{

	font-family: 'Roboto', sans-serif;
	margin: 0 auto;	
	background: white;

    background: #ffffff url("1.jpg") no-repeat left top fixed;
	background-size: 100% auto;

}

p{
	text-align: center;
}

img{

	margin: auto;
    clip:  rect(0px,300px,300px,0px);	
    width: 90%;
    height: auto;
}

h1{
	font-family: 'News Cycle', sans-serif;

	margin: none;
	text-align: center;
	height: 50px;
    color: white;
    font-size: 40px;/*
    background-color: rgba(0, 0, 0, .2);*/
    width: 50%;
    text-align: center;
/*    margin-top: 5%;*/
    margin-right: auto;
    margin-left: auto;
    font-weight: lighter;
}

h2{
	font-family: 'News Cycle', sans-serif;
	text-align: center;;
	margin: none;
}



a{
	color: white;
	padding: 20px;
	animation-duration: 2s;
}



.block-2-cnt{
	color: white;
	overflow: hidden;
	display: none;
	margin-top: 10%;
	width: 60%;
}

.block-3-cnt{
	color: white;
	margin: 0 auto;
	text-align: center;

	width: 65%;
}

#block-3-cnt1{
	margin-top: 10%;
	font-size: 45px;

}

#block-3-cnt2{
	margin-top: 5%;
	font-size: 17px;
	
}

.nav1{
	text-decoration: none;
	margin: 3%;
	color: white;
	animation-duration: 2000;
}

.nav2{
	display: block;
	color: white;
	width: 25%;
	margin:auto;
}

/*.nav2.active{
    background-color: red;
    color: red;
}*/

.nav2:hover:not(.active) {
    background-color: #555;
    color: white;
}


.block{
	height: 100%;
}

.block-2-img{
	resize: 20%;
	width: 20%;
	height: 25%;


	position: relative;
	left: 15%;
	top: 25%;
}

.divider{
	display: inline;
	width: 50%;
	float: left;
}

.block-2-txt{
	/*display: block;
	*/
	position: relative;
	float: right;
	right: 40px;
	width: 25%;
}




#nav-main{
/*
	margin: none;*/
	position: sticky;
	margin-top: 30%;
	text-align: center;
	height: 40px;
    color: #f8f5ee;
    font-size: 24px;/*
    background-color: rgba(0, 0, 0, .2);*/
    width: 100%;
    padding: 0.5%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: lighter;
}

#nav-sec{
	position: inherit;
	margin-top: 25%;
	position: relative;
	top: 90%;
	width: 100%;
	text-align: center;


}

#head2{
	margin-top: 50px;
	width: 70%;
/*	background: rgb(35,45,50,0.3);*/
	height: 70px;

}

#head1{
	font-size: 25px;
	width: 30%;
/*	background: rgb(35,45,50,0.3);*/

}

#video{
	width: 99%;
	height: 95%;
	display: block;
	position: inherit;


}

.ref{
	font-size: 14px;
	text-decoration: none;
	position: sticky;
	top: 90%;
	float: right;
	display: block;

}

#hvideo{
	margin-top: 40px;
	color: rgb(50,50,50);
	background: none;
}


#block-4{



	background:rgb(50,50,50);
}

#block-2{

	background: linear-gradient(0deg,rgba(45,55,40,0.1) , rgba(10,10,70,1.0)100%);
}

#block-3{

	background: linear-gradient(0deg,rgba(45,55,40,1.0) , rgba(255,255,255,0.1)100%);

}

#block-1{
	background: linear-gradient(0deg,rgba(35,45,50,0.1) , rgba(35,45,50,1.0)100%);
}


